<div class="container">
  <form [formGroup]="formularioCreado">
    <div class="form-group">
      <label>Nombre: </label>
      <input type="text" class="form-control" formControlName="nombre">
      <div *ngIf="formularioCreado.controls['nombre'].invalid && formularioCreado.controls['nombre'].dirty" class="alert alert-danger" role="alert">
        <span *ngIf="formularioCreado.controls['nombre'].errors.required">El nombre es requerido </span>
      </div>
    </div>
    <div class="form-group">
      <label>Correo: </label>
      <input type="text" class="form-control" formControlName="correo">

      <div *ngIf="formularioCreado.controls['correo'].invalid && formularioCreado.controls['correo'].dirty">

        <div *ngIf="formularioCreado.controls['correo'].errors.required" class="alert alert-danger" role="alert">
          <span>El correo es requerido</span>
        </div>

        <div *ngIf="formularioCreado.controls['correo'].errors.email" class="alert alert-danger" role="alert">
          No parece un correo válido
        </div>

      </div>
    </div>
    <div class="form-group">
      <label>Contraseña: </label>
      <input type="password" class="form-control" formControlName="password">
      <div *ngIf="formularioCreado.controls['password'].invalid && formularioCreado.controls['password'].dirty">
        <div *ngIf="formularioCreado.controls['password'].errors.required" class="alert alert-danger" role="alert">
          la contraseña es requerida
        </div>
        <div *ngIf="formularioCreado.controls['password'].errors.minlength" class="alert alert-danger" role="alert">
          la contraseña debe tener al menos 8 caracteres
        </div>
      </div>
    </div>
    <button *ngIf="esNuevo"  [disabled]="!formularioCreado.valid" class="btn btn-primary" (click)="agregar()">Agregar</button>

    <button  *ngIf="!esNuevo" [disabled]="!formularioCreado.valid" class="btn btn-danger" (click)="editar()">Editar</button>
  </form>
</div>

<div *ngFor="let usuario of usuarios; let posicion = index" class="container container-lista">
  <h4> Nombre de usuario:  {{usuario.nombre}} Tiene la posición {{posicion}} </h4>
  <p> Correo de usuario:  {{usuario.correo}}</p>
  <p> Contraseña del usuario: {{usuario.password}} </p>

  <button (click)="editarUsuario(posicion)">Editar</button>
</div>
